.flexCenter {
  display: flex;
  align-items: center;
}

.overrideFontTo2 {
  font-size: var(--h6-font-size);
}

.providePadding1 {
  padding: 1rem;
}

.paddingForLinks {
  padding: 0 .5rem;
}

#headerAndFooterExamplesTabber {
  border-bottom: none;
}