body {
  padding: 20px;
}
h1 {
  font-weight: normal;
  color: #0088dd;
  margin: 0px;
}
q {
  font-family: Arial, Verdana, sans-serif;
  line-height: 1.4em;
  color: #000;
}
q:first-line {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.labraCredits {
  width: 50%;
  font-style: italic;
  text-align: right;
}
