@import "../../../node_modules/rfs/scss";
$enable-responsive-font-sizes: true;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(39,23,14);
  background:
          linear-gradient(
                  90deg, rgba(39,23,14,1)
                  0%, rgba(190,120,40,1)
                  50%, rgba(70,28,6,1) 100%
          );
  min-height: calc(100vh);
}

main {
  margin-top: 1rem;
}

.containerMargins {
  margin-left: auto!important;
  margin-right: auto!important;
}



