:root {
  /*Ti'Ana Color Palette*/
  --tiana-olive-green: #247109;
  --tiana-olive-drab: #789B4A;
  --tiana-dark-olive-green-1: #617D3D;
  --tiana-dark-olive-green-2: #39531B;
  --tiana-dark-olive-green-3: #1A3000;
  --tiana-dark-olive-green-4: #1C3603;
  --tiana-off-white: #cdcdcd;

  /* Book Cover Image Palette */
  --book-cover-1: #be7828;
  --book-cover-2: #76350A;
  --book-cover-3: #461C06;
  --book-cover-4: #27170E;

  /* Expanded Color Palette */
  /* Base: #247109 - --tiana-olive-green */
  /**
    =============
    Complimentary
    =============
    Definition: Consists of two colors that are opposite each other on the color wheel.
    Key Points:
      - Offers high contrast and visibility, making it ideal for designs where colors need to stand out sharply against
        each other.
    Best Used For:
      - When looking to create bold contrasts and attract attention.
  */
  --complimentary-1: hsl(104, 85%, 24%); /* #257109 */
  --complimentary-2: hsl(336, 85%, 24%); /* #710933 */
  /**
    ===================
    Split Complimentary
    ===================
    Definition: Includes one hue plus two others equally spaced from its complement.
    Key Points:
      - Provides a softer version of the complementary scheme by including the immediate neighbors of the complement,
      offering a balanced and harmonious look.
    Best Used For:
      - To maintain a strong contrast while reducing the intensity of the complementary scheme.
  */
  --split-complimentary-1: hsl(104, 85%, 24%); /* #257109 */
  --split-complimentary-2: hsl(4, 85%, 24%); /* #711009 */
  --split-complimentary-3: hsl(306, 85%, 24%); /* #710967 */
  /**
    =========
    Analogous
    =========
    Definition: Groups three colors that are next to each other on the color wheel.
    Key Points:
      - Often found in nature and tends to be calming due to the close proximity of the colors, allowing for smooth
        transitions and harmonious blends.
    Best Used For:
      - Creating serene and natural-looking designs.
  */
  --analogous-1: hsl(104, 85%, 24%); /* #257109 */
  --analogous-2: hsl(110, 85%, 24%); /* #1B7109 */
  --analogous-3: hsl(117, 85%, 24%); /* #0E7109 */
  --analogous-4: hsl(97, 85%, 24%); /* #317109 */
  --analogous-5: hsl(90, 85%, 24%); /* #3D7109 */
  /**
    ======
    Triad
    ======
    Definition: Utilizes three hues that are evenly spaced around the color wheel.
    Key Points:
      - Conveys a sense of vibrancy and enthusiasm, offering a wide range of options for contrast and variety within
      the palette.
    Best Used For:
      - Designs seeking energy and diversity in color choices.
  */
  --triad-1: hsl(104, 85%, 24%); /* #257109 */
  --triad-2: hsl(276, 85%, 24%); /* #480971 */
  --triad-3: hsl(24, 85%, 24%); /* #713309 */
  /**
    ======
    Square
    ======
    Definition: Arranges four colors into two complementary pairs.
    Key Points:
      - Considered the richest color scheme due to the broad spectrum of colors offered, though it can be challenging
        to balance unless one color dominates.
    Best Used For:
      - When aiming for a complex and versatile design that still maintains harmony.
  */
  --square-1: hsl(104, 85%, 24%); /* #257109 */
  --square-2: hsl(246, 85%, 24%); /* #140971 */
  --square-3: hsl(336, 85%, 24%); /* #710933 */
  --square-4: hsl(44, 85%, 24%); /* #715509 */
  /**
    ======
    Tetrad
    ======
    Definition: Arranges four colors into two complementary pairs.
    Key Points:
      - Considered the richest color scheme due to the broad spectrum of colors offered, though it can be challenging
        to balance unless one color dominates.
    Best Used For:
      - When aiming for a complex and versatile design that still maintains harmony.
  */
  --tetrad-1: hsl(104, 85%, 24%); /* #257109 */
  --tetrad-2: hsl(192, 85%, 24%); /* #095C71 */
  --tetrad-3: hsl(336, 85%, 24%); /* #710933 */
  --tetrad-4: hsl(24, 85%, 24%); /* #713309 */
  /**
    =============
    Monochromatic
    =============
    Definition: Uses tints, tones, and shades of a single hue.
    Key Points:
      - Creates a sense of calm and sophistication due to the subtle variations within a single color family.
    Best Used For:
      - When aiming for a minimalist or cohesive look.
  */
  --monochromatic-1: hsl(0, 0%, 0%); /* #000 */
  --monochromatic-2: hsl(104, 85%, 25%); /* #27750A */
  --monochromatic-3: hsl(77, 85%, 50%); /* #4DEC13 */
  --monochromatic-4: hsl(104, 84%, 75%); /* #713309 */
  --monochromatic-5: hsl(0, 0%, 100%); /* #FFF */
  /**
    =======
    Similar
    =======
    Definition: Refers to color schemes that share similarities in hue, saturation, or tone, creating a cohesive look.
    Key Points:
      - Focuses on creating a unified appearance through closely related colors, suitable for designs that aim for
        consistency and minimal contrast.
    Best Used For:
      - When striving for a uniform and consistent aesthetic.
  */
  --similar-1: hsl(104, 85%, 24%); /* #257109 */
  --similar-2: hsl(103, 80%, 18%); /* #1E5309 */
  --similar-3: hsl(105, 92%, 14%); /* #134503 */
  --similar-4: hsl(100, 81%, 29%); /* #36860E */
  --similar-5: hsl(98, 85%, 28%); /* #37840B */
  --similar-6: hsl(109, 91%, 18%); /* #135804 */

  /* Expanded Color Palette */
  /* Base: #A97942 - Image oldPage.jpg */
  /**
    =============
    Complimentary
    =============
    Definition: Consists of two colors that are opposite each other on the color wheel.
    Key Points:
      - Offers high contrast and visibility, making it ideal for designs where colors need to stand out sharply against
        each other.
    Best Used For:
      - When looking to create bold contrasts and attract attention.
  */
  --complimentary-1-oldPage: hsl(38, 46%, 54%); /* #C09854 */
  --complimentary-2-oldPage: hsl(234, 46%, 54%); /* #710933 */
  --font-color-old-page-text: hsl(0, 0%, 15%);
}